{% extends "base.html" %}

{% block title %}{{name}} Status Dashboard{% endblock %}
{% block content %}
<div class="header">
  {{name}} Status Dashboard
</div>
<div class="container">
  <div class="row">
    <div class="status-title">Service Status</div>
    {% for application in application_section %}
    <div class="status">
      <div class="status-header">
        <div class="status-description">
          {{application.description}}
        </div>
        <div class="status-link">
          {% if application.link %}
          <a href="{{application.link}}"><i class="fa fa-external-link-alt"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="pill{% if application.nominal %} nominal{% endif %}">
        <i class="fa {% if application.nominal %}fa-check{%else%}fa-exclamation-circle{% endif %}"></i>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="status-title">Dependent Services Status</div>
    {% for dependency in dependencies_section %}
    <div class="status">
      <div class="status-header">
        <div class="status-description">
          {{dependency.name}}<br />
          {{dependency.description}}
        </div>
        <div class="status-link">
          {% if dependency.link %}
          <a href="{{dependency.link}}"><i class="fa fa-external-link-alt"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="pill{% if dependency.nominal %} nominal{% endif %}">
        <i class="fa {% if dependency.nominal %}fa-check{%else%}fa-exclamation-circle{% endif %}"></i>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer">
    Updated: {{last_update}}
  </div>
</div>
{% endblock %}
