{% extends "base.html" %}

{% block title %}{{name}} Status Dashboard{% endblock %}
{% block javascript %}
<script>
// attach tooltip events
document.addEventListener("DOMContentLoaded", function(){
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(element){
        return new bootstrap.Tooltip(element);
    });
});
</script>
{% endblock %}

{% block content %}
<div class="header">
  <div class="wrapper" style="background-image: url(/static/images/w-logo-white.png)">
    <div class="title">{{name}} Status Dashboard</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="overall-status{% if overall_nominal %} nominal{% endif %}">
      <span class="status nominal">{{name}} is in good health.</span>
      <span class="status critical">{{name}} or dependent services may be struggling.</span>
    </div>
  </div>
  <div class="row status-title">
    {{name}} Status
  </div>
  <div class="row">
    {% for service in application_section %}
    {% include 'service.html' %}
    {% endfor %}
  </div>
  <div class="row status-title">
    Dependent Service Status
    <div>
      {{name}} retrieves data from the services below to produce content.
    </div>
  </div>
  <div class="row">
    {% for service in dependencies_section %}
    {% include 'service.html' %}
    {% endfor %}
  </div>
  <div class="footer">
    Updated: {{last_update}}
  </div>
</div>
{% endblock %}
