<div class="service{% if service.nominal %} nominal{% endif %}">
  <div class="description">
    <div class="name">
      {{service.name}}
    </div>
    <div class="desc">
      {%if service.description %}{{service.description}}{% endif %}
      {% if service.link %}
        <a href="{{service.link}}" title="Visit {{service.name}}"
        ></a><i class="bi bi-box-arrow-up-right"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="health">
    <div class="status">{{service.status}}</div>
    <i class="nominal bi bi-check-circle-fill" title="Status: {{service.status}}"></i>
    <i class="critical bi bi-exclamation-circle-fill" title="Status: {{service.status}}"></i>
  </div>
</div>
