# Copyright 2024 UW-IT, University of Washington
# SPDX-License-Identifier: Apache-2.0

html, body {
    font-family: 'Open Sans', Helvetica, arial, san-serif !important;
    font-size: 10pt;
    padding:0;
    margin:0;
    height: 100%;
    color:#333;
}

.status {
    width: 8em;
}

.status_title {
    margin-bottom: 12px;
    font-size: larger;
    font-weight: 600;
}

.description {
    font-size: smaller;
}

.pill {
    border-style: solid;
    border-width: 2px;
    border-color: #ff0000;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 20px;
    background-color: #fad0d0;
    color: #ff0000;
    font-weight: 600;
    display: inline-block;
}

.pill.nominal {
    background-color: #e1f7e4;
    border-color: #02cf1a;
    color: #02cf1a;
}

.row {padding-top: 20px;}

.header {
    background: #4b2e83;
    color: white;
    line-height: 50px;
    padding: 10px 50px;
    font-size: larger;
    font-weight: 600;
    width: 100%;
}

.footer {
    padding-top: 20px;
    font-size: smaller;
    font-style: italic;
}

