# Copyright 2024 UW-IT, University of Washington
# SPDX-License-Identifier: Apache-2.0

html, body {
    font-family: 'Open Sans', Helvetica, arial, san-serif !important;
    font-size: 10pt;
    padding:0;
    margin:0;
    height: 100%;
    color:#333;
}

.overall-status {
    vertical-align: middle;
    text-align: center;
    line-height: 3.5em;
}

.overall-status .status {
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    width: 50%;
    background-color: #ff1818;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.overall-status.nominal div {
    background-color: #02cf1a;
}

.overall-status div i {
    font-size: 1.25em;
    padding-right: .75em;
}

.service {
    border: 1px solid #ff8080;
    border-radius: 10px;
    width: 22em;
    height: 5em;
    margin: 0 20px 0 0;
    padding: 0;
    background-color: #ffefef;
}

.service.nominal {
    background-color: white;
    border-color: lightgray;
}

.service.nominal .health .pill {
    color: #02cf1a;
}

.service .description {
    padding: 8px 10px;
    width: 18.5em;
    height: 5em;
    float: left;
}

.service .description > span.name {
    font-weight: 600;
}

.service .description > span.full-name {
    font-size: .85em;
    font-weight: 400;
}

.service .description .link {
    float: right;
    text-decoration: none;
}

.service .health {
    width: 3em;
    height: 5em;
    float: right;
}

.status-description {
    font-size: smaller;
    font-weight: 600;
}

.status-link {
    width: .5em
    float: right;
}

.status-title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
}

.status-title div {
    font-size: .5em;
    font-weight: 300;
}

.service .health .pill {
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    line-height: 3em;
    color: #f00;
}

.x-pill {
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 5px 10px;
    width: 2em;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 20px;
    background-color: #fad0d0;
    color: #ff0000;
    font-weight: 600;
    display: inline-block;
}

.x-pill.nominal {
    xbackground-color: #e1f7e4;
    border-color: #02cf1a;
    color: #02cf1a;
}

.row {padding-top: 20px;}

.header {
    background: #4b2e83;
    color: white;
    line-height: 50px;
    padding: 10px 50px;
    font-size: larger;
    font-weight: 600;
    width: 100%;
}

.footer {
    padding-top: 20px;
    font-size: smaller;
    font-style: italic;
}

